@font-face {
	font-family: 'Sansation';
	src: url(../../assets/fonts/Sansation-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Light.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Light.woff2) format('woff2'),
	url(../../assets/fonts/Sansation-Light.woff) format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Sansation';
	src: url(../../assets/fonts/Sansation-LightItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-LightItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-LightItalic.woff2) format('woff2'),
	url(../../assets/fonts/Sansation-LightItalic.woff) format('woff');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'Sansation';
	src: url(../../assets/fonts/Sansation-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Regular.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Regular.woff2) format('woff2'),
	url(../../assets/fonts/Sansation-Regular.woff) format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Sansation';
	src: url(../../assets/fonts/Sansation-Italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Italic.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Italic.woff2) format('woff2'),
	url(../../assets/fonts/Sansation-Italic.woff) format('woff');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Sansation';
	src: url(../../assets/fonts/Sansation-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Bold.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-Bold.woff2) format('woff2'),
	url(../../assets/fonts/Sansation-Bold.woff) format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Sansation';
	src: url(../../assets/fonts/Sansation-BoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-BoldItalic.eot) format('embedded-opentype'),
	url(../../assets/fonts/Sansation-BoldItalic.woff2) format('woff2'),
	url(../../assets/fonts/Sansation-BoldItalic.woff) format('woff');
	font-weight: bold;
	font-style: italic;
}