#koncept, #testovani, #start {
  scroll-margin-top: 70px;
}

.bg-primary {
  background-color: rgb(159,177,189)!important;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: rgb(29,1,150)!important;
}

.border-primary {
  border-color: inherit!important;
}

